{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    'clear-both',
] %}
<div{{ attributes.addClass(classes) }}>

  <h2>Country : {{ country }}</h2>
  <h2>City : {{ city }}</h2>
  <h2>Time : {{ dateTime }}</h2>

</div>
